[submodule "per-directory-history"]
	path = per-directory-history
	url = git@github.com:jimhester/per-directory-history.git
[submodule "emacs-osx"]
	path = emacs-osx
	url = git@github.com:zhujinxuan/emacs-osx.git
[submodule "neuron-srid"]
	path = neuron-srid
	url = https://github.com/srid/neuron
[submodule "emanote"]
	path = emanote
	url = git@github.com:srid/emanote.git
